
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
  }
#wrapper {
    display: flex;
    justify-content: flex-end;
}

#screenwrapper {
    width: 50%;
   /* border-radius: 8px;*/
    margin: 0.5vh;
    float: left;
    height: 70%;
    min-height: 99vh;
    position: relative;
    display: flex;
    flex-direction: column;

}

#simulationController {

    background-color: #969696;
    border: 3px solid #4c4c4c;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    min-height: 100%;
    flex: 1;
    margin-top: 0.5vh;



}

#screen {
    background-color: #920000;
    border: 3px solid #4c4c4c;
    float: bottom;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

#info {
    line-height: 1;
}

#infos {
    width: 25%;
    height: 95vh;
    margin: 0.5vh;
    padding: 15px;
    background-color: #969696;
    border: 3px solid #4c4c4c;
    border-radius: 8px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

#controll {
    width: 25%;
    float: left;
    margin: 0.5vh;
    padding: 15px;
    background-color: #969696;
    border: 3px solid #4c4c4c;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 95vh;

}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
