#wrapper{
  display: flex;
  justify-content: center;
}
#screen {
  width: 50%;
  background-color: #920000;
  border-radius: 8px;
  border: 3px solid #4c4c4c;
  margin: 0.5%;
  float: left;


}
#infos {
  width: 25%;
  margin: 0.5%;
  padding: 15px;
  background-color: #969696;
  border: 3px solid #4c4c4c;
  border-radius: 8px;
  float: left;
}
#controll{
  width: 25%;
  float: left;
  margin: 0.5%;
  padding: 15px;
  background-color: #969696;
  border: 3px solid #4c4c4c;
  border-radius: 8px;
}
